/* @import '@fontsource/work-sans/variable.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.orientation-mixed {
		text-orientation: mixed;
	}

	.writing-vertical {
		writing-mode: vertical-rl;
	}

	.text-balance {
		text-wrap: balance;
	}

	/* TODO: add side title */
}
