// buttons
body .button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
  border: 1px solid rgba(var(--rgbText), 0.5);
  padding: 0.6rem 0.8rem;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease-out;

  &::before {
    content: "";
    background: rgba(98, 0, 238, 0.12);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 100rem;
    transition: all 0.4s ease-out;
  }

  &:hover {
    background: rgba(98, 0, 238, 0.04);

    &::before {
      width: 20rem;
      height: 20rem;
    }
  }

  &:focus {
    outline: none;
    background: rgba(98, 0, 238, 0.12);
  }
}

// slider
.slidecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slidecontainer p {
  margin: 0 0.8rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  // width: 200px;
  height: 2px;
  border-radius: 1rem;
  background-color: rgba(98, 0, 238, 0.38);
  outline: none;
  opacity: 1;
  transition: all 0.2s ease;
}

/* Browser support */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;

  transition: all 0.2s ease;
}

.slider::-webkit-slider-thumb:hover {
  opacity: 0.8;
}

/** Firefox support*/
.slider::-moz-range-progress {
  background-color: var(--primary);
  border-radius: 20rem 0 0 20rem;
}

.slider::-moz-range-track {
  background-color: rgba(98, 0, 238, 0.38);
  border-radius: 20rem;
}

.slider::-moz-range-thumb {
  background-color: var(--primary);
  border: none;
  border-radius: 20rem;
}
