---
const year = new Date().getFullYear();
---

<footer class="grid md:grid-cols-8 lg:grid-cols-12 container">
  <div
    class="width-3/10 border-t border-gray-400 flex flex-col sm:flex-row justify-between py-5 sm:py-8 text-center"
  >
    <p class="body2 m-0 mb-3">
      <a
        class="lineHover inline-flex"
        target="social"
        href="https://github.com/vuurvos1">GitHub</a
      >
       /
      <a
        class="lineHover inline-flex"
        target="social"
        href="https://codepen.io/Vuurvos">Codepen</a
      >
       /
      <a
        class="lineHover inline-flex"
        target="social"
        href="https://www.linkedin.com/in/samdekanter">LinkedIn</a
      >
       /
      <a
        class="lineHover inline-flex"
        target="social"
        href="https://cssbattle.dev/player/vuurvos">CSS Battle</a
      >
    </p>
    <p class="body2">&copy; {year} - Sam de Kanter</p>
  </div>
</footer>
